<div data-role="appbar" data-expand-point="md">
    <a href="/" class="brand no-hover">
        <span class="p-2 border-radius">
            <strong>Teach Together</strong>
        </span>
    </a>

    <ul class="app-bar-menu">
        <li><a href="/course">Courses</a></li>
    </ul>

    <ul class="app-bar-menu app-bar-menu-right">
        <li>
            <a href="#" class="dropdown-toggle"><%=session.userLoginId%></a>
            <ul class="d-menu" data-role="dropdown">
                <li><a href="/user/settings"><span class="mif-user icon"></span> User settings</a></li>
                <li class="divider bg-lightGray"></li>
                <li><a href="/logout"><span class="mif-exit icon"></span> Log out</a></li>
            </ul>
        </li>
    </ul>
</div>