<div data-role="appbar" data-expand-point="md">
    <a href="/" class="brand no-hover">
        <span class="p-2 border-radius">
            <strong>Teach Together</strong>
        </span>
    </a>

    <ul class="app-bar-menu">
        <li><a href="/course">Courses</a></li>
        <li><a href="/course/12345678">TestCourse</a></li>
    </ul>

    <ul class="app-bar-menu app-bar-menu-right">
        <li>
            <a href="#" class="dropdown-toggle">Stephano2013</a>
            <ul class="d-menu" data-role="dropdown">
                <li><a href="#">Windows 10</a></li>
                <li><a href="#">Office 365</a></li>
                <li class="divider bg-lightGray"></li>
                <li><a href="#">Skype</a></li>
            </ul>
        </li>
    </ul>
</div>