<%-include('partial/head')%>
<%-include('partial/navbar')%>

<div class="container">
    <div class="row">
        <% if (!context.courses || !context.courses.length) { %>
            There are no courses available for this engine.
        <% } else { %>
            <% for (const course of context.courses || []) { %>
                <div class="cell-md-3">
                    <%-include("partial/courseCard", Object.assign(context, {course: course}))%>
                </div>
            <% } %>
        <% } %>
    </div>
</div>