<%-include('partial/head')%>
<%-include('partial/navbar')%>

<head>
    <script src="/static/ace-builds/src/ace.js"></script>
    <script src="/static/client.js"></script>
</head>

<div class="container-fluid">
    <div class="full-editor" id="fullEditor">
        <div class="editor-options">
            <ul class="sidenav-simple h-auto" id="teacherIDEActions">
                <li>
                    <a href="javascript:executeScript(aceEditor.getValue(), $('#teacherConsole'))" title="Run (Ctrl + Enter)">
                        <span class="mif-play icon"></span>
                    </a>
                </li>
                <li>
                    <a href="#" title="Fork">
                        <span class="mif-flow-branch icon"></span>
                    </a>
                </li>
                <li>
                    <a href="#" title="Project Structure">
                        <span class="mif-folder2 icon"></span>
                    </a>
                </li>
                <li>
                    <a href="#" title="Project Settings">
                        <span class="mif-cog icon"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div data-role="splitter" class="h-100" data-split-mode="vertical" data-gutter-size="5" data-min-sizes="200" data-split-sizes="70, 30">
            <div class="d-flex flex-justify-center flex-align-center">
                <div class="editor" id="teacherIDE"></div>
            </div>
            <div class="d-flex flex-justify-center flex-align-center">
                <pre class="console" id="teacherConsole">Result: </pre>
            </div>
        </div>
    </div>
</div>

<script>
let aceEditor;
$(document).ready(() => {
    aceEditor = ace.edit($("#teacherIDE").get(0), {
        mode: "ace/mode/javascript",
        selectionStyle: "text",
        theme: "<%= session.theme == 'dark' ? 'ace/theme/monokai' : 'ace/theme/chrome' %>",
        showPrintMargin: false,
        readOnly: <%= course.data.created_by !== session.userLoginId %>
    })

    let delay = false;
    aceEditor.getSession().on('change', function() {
        clearTimeout(delay);
        delay = setTimeout(log, 1000);
    });
});

function log() {
    console.log(aceEditor.getSession().getValue());
}

function toggleConsole() {
    $("#teacherConsole").toggle();
    $("#fullEditor").toggleClass("full-editor");
    $("#fullEditor").toggleClass("full-editor-no-console");
}
</script>