[submodule "src/framework"]
	path = src/framework
	url = https://github.com/StefanPuia/typescript-app.git

[submodule "static/ace-builds"]
	path = src/ace-builds
	url = https://github.com/ajaxorg/ace-builds.git