[submodule "src/framework"]
    path = src/framework
    url = https://github.com/StefanPuia/typescript-app.git
	branch = master

[submodule "static/ace-builds"]
    path = static/ace-builds
    url = git@github.com:ajaxorg/ace-builds.git