<%-include('partial/head')%>

<div class="container">
    <div class="grid text-center">
        <div class="row">
            <div class="cell-md-4 offset-md-4 offset-sm-1">
                <h1>Teach Together</h1>
            </div>
            <% if(typeof error !== "undefined") { %>
                <div class="cell-md-4 offset-md-4 offset-sm-1">
                    <div class="remark alert">
                        <%=error%>
                    </div>
                </div>
            <%}%>
        </div>
        <div class="row">
            <div class="cell-md-4 offset-md-4 offset-sm-1">
                <div class="form-group">
                    <a class="button primary" href="<%=urls.discord%>">Log in with Discord</a>
                    <a class="button primary" href="<%=urls.google%>">Log in with Google</a>
                </div>
            </div>
        </div>
    </div>
</div>