<%-include('partial/head')%>

<div class="container">
    <div class="grid text-center">
        <div class="row">
            <div class="cell-md-4 offset-md-4 offset-sm-1">
                <h1>Teach Together</h1>
            </div>
            <% if(typeof error !== "undefined") { %>
                <div class="cell-md-4 offset-md-4 offset-sm-1">
                    <div class="remark alert">
                        <%=error%>
                    </div>
                </div>
            <%}%>
        </div>
        <div class="row">
            <div class="cell-md-4 offset-md-4 offset-sm-1">
                <div class="form-group">
                    <a class="button primary" href="<%=urls.discord%>">Log in with Discord</a>
                    <a class="button primary" href="<%=urls.google%>">Log in with Google</a>
                </div>
            </div>
            <!-- <form method="POST">
                <div class="cell-md-4 offset-md-4 offset-sm-1">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" required name="userLoginId" placeholder="User name" />
                    </div>
                </div>
                <div class="cell-md-4 offset-md-4 offset-sm-1">
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" required name="password" placeholder="Password" />
                    </div>
                </div>
                <div class="cell-md-4 offset-md-4 offset-sm-1">
                    <div class="form-group">
                        <input type="checkbox" name="remember" value="Y" data-role="checkbox" data-caption="Remember me">
                    </div>
                </div>
                <div class="cell-md-4 offset-md-4 offset-sm-1">
                    <div class="form-group">
                        <button class="button success">Log in</button>
                        <a class="button" href="/register">Register</a>
                    </div>
                </div>
            </form> -->
        </div>
    </div>
</div>