<%-include('partial/head')%>
<%-include('partial/navbar')%>

<div class="container">
    <% if ((context.createdCourses || []).length > 0) { %>
        <h1>Your courses</h1>
        <div class="row">
            <% for (const course of context.createdCourses || []) { %>
                <div class="cell-md-3">
                    <%-include("partial/courseCard", Object.assign(context, {course: course, buttonText: "Continue Course"}))%>
                </div>
            <% } %>
        </div>
    <% } %>
    <h1>Joined courses</h1>
    <% if ((context.joinedCourses || []).length == 0) { %>
        You have not joined any course yet. Start by first choosing a <a href="/course">language</a>.
    <% } else { %>
        <div class="row">
            <% for (const course of context.joinedCourses || []) { %>
                <div class="cell-md-3">
                    <%-include("partial/courseCard", Object.assign(context, {course: course, buttonText: "Continue Course"}))%>
                </div>
            <% } %>
        </div>
    <% } %>
</div>